/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif !important;
    background-color: #efefef;
}

html {
    min-height: 99%;
    position: relative;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Layout stylings */

.footer {
    height: 20px;
    bottom: 0px;
    position: absolute;
    color: #333;
    width: 100%;
    text-align: center;
}

.navbar {
    min-height: 40px !important;
    max-height: 40px !important;
    border: none !important;
    background-color: #227ebf !important;
}

.navbar-left {
    float: left;
}

.nav-item {
    margin-left: 5px;
    margin-top: 1px;
}

.navbar-left > .nav-item:first-child {
    margin-left: 5px;
}

.navbar-right > .nav-item:first-child {
    margin-right: 20px;
}

.btn-nav-item {
    margin-top: 2px;
    background-color: #59aae5;
    padding: 5px 10px 5px 10px !important;
}

.btn-nav-item {
    color: #fff !important;
    font-weight: 700;
}

.btn-nav-item:hover {
    background-color: #469cdb !important;
}

.btn-nav-item:active {
    background-color: #2e93db !important;
}

.nav-icon {
    vertical-align: middle;
    font-size: 18px;
    color: #fff;
    margin-right: 3px;
}

.nav-title {
    position: absolute;
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Helpers */

.helper-divs {
    display: none;
}

/* BoardList stylings */

.board-list-container {
    min-width: 100%;
    position: relative;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

.board-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-size: 16px;
    color: #17394d;
}

.board-list > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.board-list li {
    display: flex;
    flex: 1 1 25%;
    margin: 10px;
    max-width: 30%;
}

.board-list-title {
    margin-left: 30px;
}

.board-list-title > span {
    color: #798d99;
    font-size: 18px;
    margin-right: 10px;
}

.board-list-item {
    display: table-caption;
    height: 100px;
    width: 100%;
    background-color: #256491;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s; 
}

.board-list-item-new {
    background-color: #bdc4c9;
}

.board-list-item > a {
    text-decoration: none;
}

.board-list-item:hover {
    background-color: #4c89b5;
}

.board-list-item-new:hover {
    background-color: #a8b7c1;
}

.board-list-item-new:hover .board-new {
    color: #2e4e60;
}

.board-list-item:active {
    background-color: #59aae5;
}

.board-list-item-new:active {
    background-color: #98a3aa;
}

.board-title {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    word-wrap: break-word;
    font-size: 16px;
}

.board-new {
    transition-property: color;
    transition-duration: .5s;
    font-size: 16px !important;
    color: #677d89;
}

/* Board stylings */

.cardlist-list {
    display: flex;
    position: absolute;
    margin-top: 2%;
    margin-left: auto;
    height: 88%;
}

.cardlist-list a {
    text-decoration: none;
    color: #83898e !important;
}

.cardlist-container {
    display: inline-block;
    width: 250px;
    height: 90%;
    margin-right: 20px;
    vertical-align: top;
}

.cardlist-content {
    max-height: 100%;
    width: 100%;
    overflow-y: auto; 
    background-color: #cccfd1;
    color: #17394d;
    padding: 5px 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cardlist-header {
    min-height: 25px;
    width: 100%;
    background-color: #cccfd1;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    word-wrap: break-word;
}

.cardlist-header-menu {
    float: right;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    cursor: pointer;
}

.cardlist-header-menu:hover {
    background-color: #f0f0f0;
}

.cardlist-header-menu:active {
    background-color: #e0e0e0;
}

.cardlist-header-menu span {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

.cardlist-title {
    display: inline-block;
    width: 85%;
    line-height: 100%;
    vertical-align: middle;
    color: #17394d;
    padding: 5px;
    background-color: inherit;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.cardlist-title.edit {
    border: 2px solid #227ebf;
    border-radius: 5px;
    background-color: #fff;
    cursor: text;
}

.cardlist-new {
    background-color: #e0e0e0;
    color: #898f94;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cardlist-new > span {
    margin-right: 5px;
}

.cardlist-new:hover {
    background-color: #cccfd1;
    color: #17394d;
}

.cardlist-card-new {
    color: #83898e;
    background-color: #cccfd1;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cardlist-card-new > span {
    margin-right: 5px;
}

.cardlist-card-new:hover {
    color: #17394d;
    background-color: #babec2;
}

.cardlist-card-new:active {
    background-color: #a7acb1;
}

.cardlist-content.new {
    border-radius: 0 0 5px 5px;
}

textarea.cardlist-card-name-input {
    border: none;
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
    padding: 0;
    background-color: #fff;
}

textarea.cardlist-card-name-input::placeholder {
    color: #83898e;
}

.empty-card-input > .cardlist-card:hover {
    background-color: #fff;
}

.cardlist-card {
    position: relative;
    background-color: #fff; 
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    cursor: pointer;
    height: auto;
}

.cardlist-card:last-child {
    margin-bottom: 2px;
}

.cardlist-card:hover {
    background-color: #f0f0f0;
}

.cardlist-card:hover > .cardlist-card-icon {
    opacity: 1;
}

.cardlist-card.edit:hover {
    background-color: #fff;
    cursor: default;
}

.cardlist-card.edit .cardlist-card:hover {
    background-color: #fff;
    cursor: default;
}

.cardlist-card-icon {
    font-size: 11px;
    color: #83898e;
}

.cardlist-card-icon-edit {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 4px;
    top: 2px;
    border-radius: 3px;
    opacity: 0;
}

.cardlist-card-icon-edit span {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 26px;
    vertical-align: middle;
}

.cardlist-card-icon-edit:hover {
    background-color: #e0e0e0;
}

.cardlist-card-icon-edit:active {
    background-color: #d0d0d0;
}

.cardlist-card-icon-comment {
    padding: 4px 0 2px 5px;
}

.cardlist-card-icon-comment > span {
    margin-right: 3px;
}

.cardlist-icon-cancel {
    display: inline-block;
    color: #83898e;
    margin-left: 5px;
    font-size: 18px;
    padding: 0;
    height: 32px;
    width: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.cardlist-icon-cancel:hover {
    background-color: #e0e0e0;
}

.cardlist-icon-cancel:active {
    background-color: #e8e8e8;
}

.cardlist-icon-delete {
    float: right;
    color: #c25555;
    margin-left: 5px;
    font-size: 18px;
    padding: 0;
    height: 32px;
    width: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.cardlist-icon-delete:hover {
    background-color: #e0e0e0;
}

.cardlist-icon-delete:active {
    background-color: #e8e8e8;
}

.cardlist-card-label-container {
    width: 100%;
}

.cardlist-card-label {
    display: inline-block;
    height: 10px;
    width: 40px;
    border-radius: 10px;
}

.cardlist-new-input-container {
    position: absolute;
    width: 250px;
    display: none;
    border-radius: 5px;
}

.cardlist-new-input {
    width: 100%;
    height: 30px;
    border: 2px solid #227ebf;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #17394d;
    font-weight: 700;
    background-color: #f0f0f0;
    padding: 0 5px;
}

.cardlist-new-input::placeholder {
    color: #83898e;
}

.cardlist-new-control {
    margin-bottom: 5px;
}

.btn-save {
    background-color: #5aac44;
    font-weight: 700;
}

.btn-save:hover {
    background-color: #479632;
}

.btn-save:active {
    background-color: #418b2c;
}

a.btn-save {
    color: #fff !important;
}
