@using Ollert.DataAccess.Enums

@model BoardListViewModel
<div class="row board-list-container">
    @foreach (var boardGroup in Model.Boards.GroupBy(x => x.Type))
    {
        <div class="board-list">
            <div class="board-list-title">
                @switch (boardGroup.Key)
                {
                    case BoardType.Public:
                    {
                        <span class="fas fa-globe"></span>
                        <label>Publikus</label>
                        break;
                    }
                    case BoardType.Private:
                    {
                        <span class="fas fa-lock"></span>
                        <label>Privát</label>
                        break;
                    }
                }
            </div>
            <ul>
                @foreach (var board in boardGroup)
                {
                    <li>
                        <div class="board-list-item">
                            <a href="@Url.Action(nameof(BoardController.Board), "Board", new { id = board.Id })">
                                <div class="board-title">
                                    @board.Name
                                </div>
                            </a>
                        </div>
                    </li>
                }
                <li>
                    <div class="board-list-item board-list-item-new">
                        <a href="@Url.Action(nameof(BoardController.New), "Board")">
                            <div class="board-title board-new">
                                Új tábla létrehozása...
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    }
</div>
