<div class="templates">
    <div class="empty-category">
        <div class="category user-select-none">
            <span class="fas fa-folder"></span>
            <input class="category-name" />
        </div>
        <ul>
            <li>
                <div class="board-list-item board-list-item-new user-select-none">
                    <a>
                        <div class="board-title board-new">
                            Új tábla
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>