@model CategoryListViewModel

@section Scripts {

    <script type="text/javascript" src="~/js/categoryFunctions.js"></script>

}

<div class="row board-list-container">
    <div class="board-list">
        @foreach (var category in Model.Categories.OrderBy(x => x.ModificationDate))
        {
            <div class="category user-select-none">
                <span class="fas fa-folder"></span>
                <input class="category-name" value="@category.Name" />
            </div>
            <ul>
                @foreach (var board in category.Boards)
                {
                    <li>
                        <div class="board-list-item user-select-none">
                            <a href="@Url.Action(nameof(BoardController.Board), "Board", new { id = board.Id })">
                                <div class="board-title">
                                    @board.Name
                                </div>
                            </a>
                        </div>
                    </li>
                }
                <li>
                    <div class="board-list-item board-list-item-new user-select-none">
                        <a href="@Url.Action(nameof(BoardController.New), "Board")">
                            <div class="board-title board-new">
                                Új tábla
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        }


        <div class="category category-new-container muted user-select-none">
            <div class="category-new-input-container">
                <input class="category-new-input" placeholder="Kategória neve..." maxlength="255" />
                <div class="category-new-control">
                    <a class="btn btn-save" onclick="addNewCategory()">Mentés</a>
                    <div class="cardlist-icon-cancel muted" onclick="toggleNewCategoryWindow()">
                        <span class="fas fa-times"></span>
                    </div>
                </div>
            </div>

            <div class="category-new" onclick="toggleNewCategoryWindow()">
                <span class="fas fa-plus"></span>
                Új kategória hozzáadása
            </div>
        </div>
    </div>
</div>

<partial name="_Templates" />